@media (min-width: 992px) {
	.navbar .nav-item a+.dropdown-menu{ margin-top:10px; }
}

@media (max-width: 992px){
	.navbar .dropdown-submenu .dropdown-menu {
		bottom: auto;
		margin-top: calc(0.1rem - 1px);
		border: none;
		background: rgb(233 27 35 / 10%);
		border-radius: 0;
	}
	.dropdown-submenu .dropdown-menu .dropdown-item{
		padding-left: 40px;
	}
	.navbar{
		background: #ffffff;
	}
	.navbar-light .navbar-nav .nav-link {
	    color: #000000;
	}
	.copyright{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}