@media (max-width: 768px){
	.research .title-tag {
	     position: unset; 
	     top: unset; 
	     transform: unset; 
	}
	.rnd-cards, .rnd-cards img {
	     height: unset; 
	}
	.rnd-cards{
		margin: 15px 0;
	}
	.connect-with-us{
		display: flex;
		justify-content: center;
	}
	.connect-with-us .box {
	    top: 0;
	    left: unset;
	    transform: scale(0.6) translateY(-34%);
	}
	.cwu-data{
		margin-top: unset;
		margin-left: unset;
	}
	.connect-with-us .left {
	    background-size: cover;
	    min-height: 200px;
	}
	.nav {
	    justify-content: center;
	}
	.data-scroller{
		font-size: 12px;
	}
	.dis-card:not(:last-child){
		margin-bottom: 15px;
	}
	.research .title-tag {
	    align-items: center;
	    margin-bottom: 15px;
	    text-align: center;
	}
	.title-tag h1{
		color: #ffffff;
	}
	.research{
		background: var(--yellow);
	}
	.floating-menu-left, .floating-menu-right{
		display: none !important;
	}
}

@media (max-width: 1200px){
	#eblslHome .nav-link{
		font-size: 14px;
		font-weight: bold;
	}
}
@media (min-width: 1200px){

}
@media (min-width: 1920px){
	#mainBanner .carousel-item img{
		max-width: 100%
	}
}

@media (min-width: 992px){
	.os-section .col-lg-3{
		flex: 0 0 14.28571%;
		max-width: 14.28571%;
	}
}

@media (max-width: 992px){
	/*award*/
	#Award .carousel-inner {
	     height: unset; 
	}
	#Award .carousel-item {
	     padding-left: unset; 
	     flex-direction: column;
	}
	#Award img {
		height: unset; 
		position: unset; 
		right: 0; 
		top: unset; 
		margin-top: -180px;
	}
	#Award .carousel-caption {
	    margin-top: -105px;
	    margin-bottom: 35px;
	    text-align: center;
	}
}

@media (min-width: 992px) and (max-width: 1200px){
	/*award*/
	#Award img{
	    right: -5%;
	}
}