/*==============================
=            banner            =
==============================*/

#mainBanner .carousel-indicators{
	display: none;
}

#mainBanner .carousel-caption {
	bottom: unset;
	position: absolute;
	right: 15%;
	top: 50%;
	transform: translateY(-50%);
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: var(--blue);
	text-align: left;
}
#mainBanner .carousel-item{
	position: relative;
}
#mainBanner .carousel-item img{
	width: 100%;
}
#mainBanner .carousel-overlay{
	background: var(--blue);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.8;
}
#mainBanner .floating-menu-left{
	position: absolute;
	top: 50%;
	left: 0;
	text-transform: uppercase;
	z-index: 2;
	display: flex;
	transform: rotate(-90deg) translateX(-50%);
	transform-origin: top left;
}
#mainBanner .floating-menu-right{
	position: absolute;
	top: 50%;
	right: 0;
	text-transform: uppercase;
	z-index: 2;
	display: flex;
	transform: rotate(90deg) translateX(50%);
	transform-origin: top right;
}
#mainBanner .menu{
	background: var(--blue);
	color: #ffffff;
	padding: 5px 10px;
	border-right: 2px solid var(--green);
	border-left: 2px solid var(--green);
	font-size: 14px;
}
.menu i, .menu svg{
	transform: rotate(270deg);
}

/*mobile banner*/
#mainBanner{
	position: relative;
}

#mainBanner .services{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#mainBanner .services a{
	display: flex;
}

#mainBanner .services a:hover .title{
	background: var(--blue);
	color: #ffffff;
}

#mainBanner .services a:hover .title svg{
	fill: #ffffff;
}

#mainBanner .service-wrapper .title{
	display: flex;
	border: 1px solid var(--blue);
	width: 100%;
	color: var(--blue);
	align-items: center;
	padding: 15px 20px;
}

.service-wrapper .title svg{
	width: 20px;
	height: 20px;
	fill: var(--blue);
}

.service-wrapper .title span{
	font-family: var(--head);    
}

#mainBanner .floating-menu-left{
	position: absolute;
	top: 50%;
	left: 0;
	text-transform: uppercase;
	z-index: 2;
	display: flex;
	transform: rotate(-90deg) translateX(-50%);
	transform-origin: top left;
}
#mainBanner .floating-menu-right{
	position: absolute;
	top: 50%;
	right: 0;
	text-transform: uppercase;
	z-index: 2;
	display: flex;
	transform: rotate(90deg) translateX(50%);
	transform-origin: top right;
}
#mainBanner .menu{
	background: var(--blue);
	color: #ffffff;
	padding: 5px 10px;
	border-right: 2px solid var(--green);
	border-left: 2px solid var(--green);
	font-size: 14px;
}
.menu i, .menu svg{
	transform: rotate(270deg);
}

/*=====  End of banner  ======*/

/*====================================
=            our services            =
====================================*/

.os-section{
	text-align: center;
}
.os-card-learn-more{
	border: 2px solid transparent;
	padding: 15px;
	border-radius: 15px;
	overflow: hidden;
	transition: 0.3s all;
}
.lm-text{
	background: transparent;
	color: #ffffff;
	margin: 5px -17px -17px -17px;
	text-transform: uppercase;
	transition: 0.3s all;
	padding: 5px 0;
}
.os-card:hover .os-card-learn-more{
	border: 2px solid var(--blue);
}
.os-card:hover .lm-text{
	background: var(--blue);
}
.os-card-learn-more p{
	margin: 5px auto 0;
	line-height: 1.2;
}
.os-card{
	transition: 0.3s all;
	font-size: 14px;
}
.os-card:hover{
	transform: scale(1.1);
}
.os-card img{
	border-radius: 15px;
}
/*=====  End of our services  ======*/

/*======================================
=            why choose ebl            =
======================================*/
.why-choose-us{
	background: #eeeeee80;
}
.why-choose-us h1{
	color: var(--blue);
}
/*=====  End of why choose ebl  ======*/


/*================================
=            research            =
================================*/

.research{
	background: url('../images/research-bg.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 80px;
}

.research .title-tag{
	display: flex;
	flex-direction: column;
	color: #ffffff;
}

.research .title-tag{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.title-tag h1{
	color: grey;
}
.title-tag p{
	color: #222222;
}
.research .title-tag p{
	    font-size: 14px;
	    width: calc(100% - 100px);
}

#rnd-caro.desktop img{
	width: 100%;
	height: 250px;
}
#rnd-caro h5, #rnd-caro-mobile h5{
	text-align: center;
}

#rnd-caro.desktop .carousel-control-next, #rnd-caro.desktop .carousel-control-prev{
    position: absolute;
    top: unset;
    bottom: -60px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: unset;
    color: #fff;
    text-align: center;
    opacity: 1;
    transition: opacity .15s ease;
    background: var(--blue);
    border-radius: 5px;
    padding: 10px 15px;
}

#rnd-caro.desktop .carousel-control-next{
	right: 35%;
}
#rnd-caro.desktop .carousel-control-prev{
	left: 35%;
}

#rnd-caro-mobile img{
	width: 100%;
	max-width: 200px;
	height: 250px;
}
#rnd-caro-mobile .carousel-control-next, #rnd-caro-mobile .carousel-control-prev{
    position: absolute;
    top: unset;
    bottom: -60px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: unset;
    color: #fff;
    text-align: center;
    opacity: 1;
    transition: opacity .15s ease;
    background: var(--blue);
    border-radius: 5px;
    padding: 10px 15px;
}
#rnd-caro-mobile .carousel-control-next{
	right: 35%;
}
#rnd-caro-mobile .carousel-control-prev{
	left: 35%;
}
#rnd-caro-mobile .carousel-item{
	text-align: center;
}
/*=====  End of research  ======*/


/*========================================
=            connect with us            =
========================================*/

.connect-with-us{
	position: relative;
}

.connect-with-us .box{
	padding: 45px 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	text-align: center;
	background: #5B9BD5;
	color: #ffffff;
}

.connect-with-us .box .dash{
	width: 100%;
	height: 5px;
	background: #ffffff;
}

.connect-with-us .left{
	background: url('../images/cwu-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 25%;
}

.connect-with-us .right{
	background-color: #ffffff;
	position: relative;
	padding: 15px;
}

.connect-with-us .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #222222;
    background-color: #FFD966;
}

.connect-with-us .nav-link{
	font-size: 20px;
	font-weight: bold;
}

.cwu-data{
	margin-top: 30px;
	margin-left: 100px;
}

.cwu-data .title{
	font-weight: bold;
}
/*=====  End of connect with us  ======*/

/*==============================
=            awards            =
==============================*/

#Award.carousel{
	width: 100%;
	background: var(--blue);
}

#Award .carousel-inner{
	height: 300px;
}

#Award img{
	height: 400px;
	position: absolute;
    right: 0;
    top: -65px;
}

#Award .carousel-item.active {
    display: flex;
}

#Award .carousel-item {
    display: none;
    height: 100%;
    align-items: center;
    padding-left: 110px;
}

#Award .carousel-caption {
	width: 50%;
	position: unset; 
	right: unset; 
	bottom: unset; 
	left: unset; 
	z-index: 10;
	padding-top: unset; 
	padding-bottom: unset; 
	color: #fff;
	text-align: unset; 
	display: flex;
	flex-direction: column;
}

/*=====  End of awards  ======*/

/*===========================
=            map            =
===========================*/
.ho-map{
	width: 100%;
	line-height: 0;
}

#Dhanmondi, #Ctg1, #Ctg2, #Nikun{
	display: none;
}
.ho-map iframe{
	width: 100%;
	height: 300px;
}

/*=====  End of map  ======*/

/*==================================
=            dse ticker            =
==================================*/

.dse-ticker{
	bottom: 0;
	position: fixed;
	z-index: 20;
	background: #eeeeee;
	padding: 5px 15px 0;
	box-shadow: 0 1px 20px rgb(0 0 0 / 50%);
	font-family: var(--para);
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
}

.dse-ticker .top .up{
	fill: green;
	color: green;
}

.dse-ticker .top .down{
	fill: red;
	color: red;
}

.dse-ticker .top{
	display: flex;
	align-items: center;
}

.dse-ticker .top .neutral{
	fill: gray;
	color: gray;
	width: 14px;
	height: 14px;
}

.dse-ticker .top .neutral svg{
	width: 14px;
	display: flex;
}

.ticker-wrapper{
	display: inline-block;
}

.ticker-wrapper:not(:first-child){
	margin-left: 20px;
}

.footer .row{
	margin-bottom: 30px;
}

/*=====  End of dse ticker  ======*/

