/*==============================
=            header            =
==============================*/

.navbar{
	background: #ffffff;
	box-shadow: rgb(233 27 35 / 13%) 0px 3px 3px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--red); !important;
}

/*=====  End of header  ======*/


/*==============================
=            banner            =
==============================*/

.parallax-window{
	min-height: 400px;
}

.pcity-main-banner{
	position: relative;
}

.pcity-main-banner .title{
	background: rgb(255 255 255 / 80%);
	padding: 1px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: var(--red);
	padding: 30px;
	border-bottom: 5px solid var(--red);
}

/*=====  End of banner  ======*/

/*============================
=            news            =
============================*/

.news-wrapper{
	border: 1px solid var(--red);
	border-radius: 10px;
	overflow: hidden;
}

.news-wrapper img{
	width: 100%;
}

.news-wrapper h6{
	color: var(--red);
	margin-bottom: 15px;
}

.news-wrapper a{
	color: var(--red);
	font-size: 14px;
	margin-top: 15px;
	display: block;
}

.news-wrapper p{
	text-align: justify;
}

.news-wrapper .text{
	padding: 15px;
}

.news-wrapper:not(:first-child){
	margin-top: 30px;
}

/*=====  End of news  ======*/
