/*==============================
=            banner            =
==============================*/

.parallax-window{
	min-height: 450px;
}

.pcity-main-banner{
	margin-top: -60px;
	position: relative;
}

.pcity-main-banner .title{
	background: rgba(#ffff,80%);
	padding: 1px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: var(--red);
	padding: 30px;
	border-bottom: 5px solid var(--red);
}

/*=====  End of banner  ======*/

/*=======================================
=            company profile            =
=======================================*/

.companyProfileWrapper{
	border: 1px solid var(--red);
	border-radius: 10px;
	padding: 8px 0;
	text-align: center;

	label{
		text-transform: uppercase;
		color: var(--red);
		font-weight: bold;
		margin-bottom: 0;
		width: 100%;
	}

	input{
		text-align: center;
	}

	ul{
		margin-top: 15px;
	}

	li{
		list-style-type: none;
		display: flex;
		margin: 5px 0;

		&:before{
			content: "\f058";
			font-family: var(--faw);
			margin-right: 10px;
			color: var(--red);
		}
	}
}

/*=====  End of company profile  ======*/

/*================================
=            about us            =
================================*/

.aboutUs{
	@extend .companyProfileWrapper;
	text-align: justify;
}

/*=====  End of about us  ======*/

/*================================================
=            company product overview            =
================================================*/

.companyProductOverview{
	@extend .aboutUs;

	li{
		text-align: left;
	}
}

/*=====  End of company product overview  ======*/


/*=====================================
=            what do we do            =
=====================================*/

.whatDoWeDo{
	@extend .companyProfileWrapper;
	text-align: left;
}

/*=====  End of what do we do  ======*/

/*======================================
=            our enlistment            =
======================================*/

.ourEnslistment{
	@extend .companyProfileWrapper;
	text-align: left;

	span, a{
		display: contents;
	}

	a{
		color: blue;
	}
}

/*=====  End of our enlistment  ======*/

/*==========================================================
=            Our Strengths & Primary Principles            =
==========================================================*/

.ourSpp{
	@extend .aboutUs;

	.col-lg-6:first-child{
		border-right: 1px solid #dddddd;
	}
}


/*=====  End of Our Strengths & Primary Principles  ======*/

/*=============================================
=            Section comment block            =
=============================================*/

.summOpi{
	@extend .ourSpp;

	.visitedPerson{
		.title{
			text-transform: uppercase;
			font-size: 24px;
			color: var(--red);
			display: inline-block;
			margin-bottom: 15px;

			&:after{
				content: "";
				display: block;
				width: calc(100% - 40px);
				border-bottom: 2px solid var(--red);
				margin: 0 auto;
			}
		}

		.personWrapper{
			border: 1px solid var(--red);
			border-radius: 10px;
			display: flex;
			padding: 15px;

			.dataColumn{
				display: flex;
				flex-direction: column;

				p{
					white-space: nowrap;
				}
			}
		}
	}
}

/*=====  End of Section comment block  ======*/



